<!-- Supongamos que este es el contenido común de tu encabezado -->
<div class="header-common">
    <header>
        <h1>DahsBoard - Constructor</h1>
        <div class="dropdowns-container">
            <div class="dropdown-container">
                <button class="dropbtn">Resultados</button>
                <div class="dropdown-content">
                    <a >dash</a>
                    <a >PF</a>
                </div>
            </div>

            <div class="dropdown-container">
                <button class="dropbtn">Opción 2</button>
                <div class="dropdown-content">
                    <a href="#">Link 3</a>
                    <a href="#">Link 4</a>
                </div>
            </div>
            <a class="btn btn-primary" href="{{ url_for('update_assembly') }}">Actualizar Montaje</a>
            <a class="btn btn-primary" href="{{ url_for('download_excel') }}">Descargar plantilla</a>
            <a class="btn btn-primary" href="/login">Salir</a> <!-- Agregar botón de salir -->
        </div>
    </header>
    <!-- Elementos del encabezado aquí -->
</div>  