<!-- Supongamos que este es el contenido común de tu encabezado -->
<div class="header-common">
    <header>
        <h1>DahsBoard - OT</h1>
        <div class="dropdowns-container">
            <a class="btn btn-primary" href="{{ url_for('anadir_elemento') }}">Agregar Items</a>
            <a class="btn btn-primary" href="{{ url_for('update_assembly') }}">Actualizar Montaje</a>
            <a class="btn btn-primary" href="{{ url_for('delete_item') }}">Eliminar Items</a>
            <a class="btn btn-primary" href="{{ url_for('download_excel') }}">Descargar plantilla</a>
            <a class="btn btn-primary" href="/login">Salir</a> <!-- Agregar botón de salir -->
        </div>
    </header>
    <!-- Elementos del encabezado aquí -->
</div>