<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Detalles del <head> aquí -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'ot/header.html' %} 

    <!-- <iframe title="20240423_powerBi_ys" width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYTExZmNlMDEtY2NlNC00YTJiLTk5MjYtNWJkM2UwMGY5MjhlIiwidCI6ImE5YWE1ZjE4LWYyODEtNDY1NS1hYjU4LTg0Nzk2ZWIwOTc5ZCJ9" frameborder="0" allowFullScreen="true"></iframe> -->

    {% include 'z_tools/search_elements.html' %}  <!-- Incluye estado_master.html según sea necesario -->

    {% include 'ot/footer.html' %} 

</body>
</html>
