<!-- Supongamos que este es el contenido común de tu encabezado -->
<div class="header-common">
    <header>
        <h1>DahsBoard - Constructor</h1>
        <div class="dropdowns-container">      
            <a class="btn btn-primary" href="{{ url_for('redirigir_principal') }}">Principal</a> <!-- Botón para volver a /main -->                           
            <a class="btn btn-primary" href="/login">Salir</a> <!-- Agregar botón de salir -->
        </div>
    </header>
    <!-- Elementos del encabezado aquí -->
</div>