<!-- Supongamos que este es el contenido común de tu encabezado -->
<head>

</head>
<div class="header-common">
    <header>
        <h1>DahsBoard - Management</h1>
        <div class="dropdowns-container">
            <div class="dropdown-container">
                <button class="dropbtn">Resultados</button>
                <div class="dropdown-content">
                    <a >dash</a>
                    <a >PF</a>
                </div>
            </div>

            <div class="dropdown-container">
                <button class="dropbtn">Operativo</button>
                <div class="dropdown-content">
                    <a href="#">Descargar filtros</a>
                    <a href="{{ url_for('download_excel') }}" class="btn btn-primary">Download </a>
                </div>
            </div>
            <a class="btn btn-primary" href="/login">Salir</a> <!-- Agregar botón de salir -->
        </div>
    </header>
    <!-- Elementos del encabezado aquí -->
</div>